body {
    background: rgb(8,101,214);
    background: linear-gradient(90deg, rgba(8,101,214,1) 0%, rgba(51,145,0,1) 50%, rgba(202,126,6,1) 100%); 
    text-align: center;
}

h2 {
    border: 1px dashed black;
    padding: 20px;
}